#navbarHome{
    background-color:  #223783;
    
    
    
}
#NavbarHomeBrand{
    color:white;
}

.fondoHome{
    background-image: url("../img/fondoHome.jpg");
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.text-header{
 min-height: 100vh;
 margin: 0 0 0 5px;
 
}

.centrar{
   
    /* IMPORTANTE */
    text-align: center;
    align-items: center;
    align-content: center;
}

#userIcon{
    color: white;
    font-size: xx-large;
    text-align: center;
    float: right;
}

.recomendacion{
    font-weight: bold;
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}

#emailUser::placeholder, #passUser::placeholder{
    text-align: center;
}

.socialMedia{
   
    font-size: x-large;
    text-align: center;
    
}
.logo img {

    width: 100%;
    height: auto;
  
  }